*
{
    margin: 0px;
    padding: 0px;
}
#container
{
background-image: url('shara\ desert.jpg');
background-size: cover;
background-repeat: no-repeat;
border: 7px solid rgb(226, 228, 228);
height: 1000px;
}
.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-left img{
    height: 90px;
    margin-left: 50px;
}
.list
{
    list-style-type: none;
    justify-content: space-around;

}
.list li 
{
    float: right;
   

}
.list li a:hover{
    background-color: black;
    width: 20px;
}
.list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 40px;
}
#main{
    display: flex;
    justify-content: space-between;
}
.left-main
{
    margin-left: 90px;
    position: relative;
    top: 150px;
}
.p
{
width: 550px;
color: aliceblue;
}
.btn
{
    border-radius: 50px;
    width: 130px;
    height: 50px;
    border: none;
}
.upper
{
    display: flex;
    flex-direction: row;
    position: relative;
  
}
.west
{
    border-radius: 35px;
 z-index: 2;
 height: 250px;
 width: 200px; 
 transition-duration: 2s;
 position: relative;
top: 90px;
right: 200px;

}
.west:hover{
    transform: translateY(10px)
}
.h31
{
    color: rgb(24, 23, 23);
    font-size: 25px;
  position: relative;
bottom: 140px;
right: 195px;
  z-index: 3;
}
.b1
{z-index: 3;
    color: antiquewhite;
    position: relative;
   right: 170px;
   bottom: 30px;
    width: 150px;
}
.pic2
{
  
    border-radius: 35px;
 z-index: 2;
 height: 250px;
 width: 200px; 
 transition-duration: 2s;
 position: relative;
top: 90px;
 right: 50px;
 
}
.pic2:hover{
    transform: translateY(10px)
}
.h32
{
    color: brown
    font-size: 25px;
  position: relative;
bottom: 150px;
  
  z-index: 3;
}
.b2
{
    width: 150px;
    z-index: 3;
    color: antiquewhite;
    position: relative;  
   
    bottom: 40px;
}
.lower
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
  
}
.pic3
{
    border-radius: 35px;
    z-index: 2;
    height: 250px;
    width: 200px; 
    transition-duration: 2s;
    position: relative;
    right: 200px;
}
.pic3:hover{
    transform: translateY(10px)
}
.h33
{

    color: rgb(238, 236, 236);
    font-size: 25px;
  position: relative;
bottom: 230px;
right: 195px;
  z-index: 3;
}
.b3
{
    width: 210px;
    z-index: 3;
    color: antiquewhite;
    position: relative;  
    bottom: 150px;
   right: 180px;
}
.pic4
{
    border-radius: 35px;
    z-index: 2;
    height: 250px;
    width: 200px; 
    transition-duration: 2s;
    position: relative;
   right: 50px;
}
.pic4:hover{
    transform: translateY(10px)
}
.h34
{
    
    color: rgb(243, 237, 237);
    font-size: 25px;
  position: relative;
bottom: 220px;

  right: 40px;
  z-index: 3;
}
.b4
{
    width: 190px;
    z-index: 3;
    color: antiquewhite;
    position: relative;  
  bottom: 170px;
right: 40px;
}